@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<main class="main-content" style="background-color: #2b2b2b;box-shadow:15px;">
    <div class="container">
        <div class="page">
            <section>
                <div style=" border-radius: 20px">
                    <div>
                        <div class="row" style="padding-bottom:50px;">
                           <div class="col-sm-12">
                               Store page requires api credentials
                           </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>