@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}


<main class="main-content" style="background-color: #2b2b2b;box-shadow:15px;">
    <div class="container">
        <div class="page">
            <section>
                @*<div style="background-color:#000000; border-radius:20px">*@
                <div>
                    <div class="row" style="padding-bottom:50px;">
                        <div class="col-sm-6">
                            <div style="padding:20px;">
                                <img src="~/Icons/Ruger Rumble.png" height="500" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div style="padding:30px">
                                <div class="">
                                    <h2 class="slide-title" style="font-size:55px;color:white">Ruger Rumble</h2>
                                    <small class="slide-subtitle" style="font-size:20px;color:forestgreen">$2.99</small>

                                    <p style="color:white">A fast paced shooter game.<br />Preorder now and get 250 Reebux.</p>

                                    <a href="cart.html" class="button" style="background-color:blue">Preorder Now</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-bottom:50px;">
                    <div class="col-sm-4">
                        <div style="padding:20px;">
                            <img src="~/Icons/REEBUX 64px.png" />
                        </div>
                        <div class="">
                            <h2 class="slide-title" style="font-size:35px;color:white">100 Coin</h2>
                            <small class="slide-subtitle" style="font-size:20px;color:forestgreen">$1.00</small>
                            <br />
                            <br />
                            <a href="cart.html" class="button" style="background-color:blue">Buy Now</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div style="padding:20px;">
                            <img src="~/Icons/REEBUX 64px.png" />
                        </div>
                        <div class="">
                            <h2 class="slide-title" style="font-size:35px;color:white">200 Coin</h2>
                            <small class="slide-subtitle" style="font-size:20px;color:forestgreen">$2.00</small>
                            <br />
                            <br />
                            <a href="cart.html" class="button" style="background-color:blue">Buy Now</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div style="padding:20px;">
                            <img src="~/Icons/REEBUX 64px.png" />
                        </div>
                        <div class="">
                            <h2 class="slide-title" style="font-size:25px;color:white">Or Specify amount</h2>
                            <input type="text" /><span style="padding-left:10px;color:white">Coin</span>
                            @*<small class="slide-subtitle" style="font-size:20px;color:forestgreen">$2.00</small>*@
                            <br />
                            <br />
                            <br />
                            <a href="cart.html" class="button" style="background-color:blue">Buy Now</a>
                        </div>
                        @*<div class="row">
                            <div class="col-sm-3">
                                <div style="padding:20px;">
                                    <img src="~/Icons/REEBUX 64px.png" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="">
                                    <h3>Or specify the amount of Coin</h3>
                                    <input type="text" /><span style="padding-left:10px;color:white">Coin</span>
                                    <br />
                                    <a href="cart.html" class="button" style="background-color:blue">Buy Now</a>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
                @*<div class="row" style="padding-bottom:50px;">
                    <div class="col-sm-3">
                        <div style="padding:20px;">
                            <img src="~/Icons/REEBUX 64px.png" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="">
                            <h3>Or specify the amount of Coin</h3>
                            <input type="text" /><span style="padding-left:10px;color:white">Coin</span>
                            <br />
                            <a href="cart.html" class="button" style="background-color:blue">Buy Now</a>
                        </div>
                    </div>

                </div>*@
        </div>
        @*</div>*@
        </section>
    </div>
    </div>
</main>