
@{
    ViewData["Title"] = "Refund Policy";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<main class="main-content" style="background-color: #2b2b2b;box-shadow:15px;">
    <div class="container">
        <div class="page">
            <section>
                <div style="text-align:center">
                    <h1 align="center"><strong>Privacy Policy</strong></h1>
                </div>
                <div>
                    <h3 align="center">Last Updated:<strong> July 11, 2020</strong></h3>
                    <h4 align="center">logo.com (Balice’s Services)</h4>
                    <p>We do not offer any refunds or exchanges for any of our products since we do not ship anything out on our site. If you have a reason please reach out via Discord or email at support@logo.com. We can cancel your order and refund you if we believe your transaction is fraudulent. We reserve the right to decline service. The products and services on this site are not shipped and no refunds. By ordering a product or service you understand that there are no refunds.</p>
                </div>

            </section>
        </div>
    </div>
</main>