@{
    ViewData["Title"] = "Privacy and policy";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}


<main class="main-content" style="background-color: #2b2b2b;box-shadow:15px;">
    <div class="container">
        <div class="page">
            <section>
                <div style="text-align:center">
                    <h1 align="center" style="color:#e7eff6"><strong>Terms and Conditions</strong></h1>
                    <hr style="color:#042c52" />
                </div>
                <div>

                    <p>
                        This document outlines the types of personal information is received and collected by “Balice Services” accessible at “ablice.com” and how it is used.
                    </p>
                    <br />
                    <p>
                        <strong>IF YOU DO NOT AGREE WITH ANY TERM OR PROVISION OF THESE TERMS AND CONDITIONS, PLEASE EXIT THIS SITE IMMEDIATELY. PLEASE BE ADVISED THAT YOUR CONTINUED USE OF THIS SITE OR THE PRODUCTS OR INFORMATION PROVIDED THEREBY SHALL INDICATE YOUR CONSENT AND AGREEMENT TO THESE TERMS AND CONDITIONS.</strong><br>
                    </p>
                    <br />
                    <p>These Terms and Conditions of Service and Use of www.ablice.com (the “Terms and Conditions“) are hereby made effective as of 2020-06-25 ” or “we” or “us” or “our“), and, without waiving or otherwise releasing any right or obligation under any prior terms and conditions of the use of “Balice Services”, hereby amend and restate any such prior terms and conditions.</p>
                    <br />
                    <p>In consideration of each member or customer’s (each, a “customer” or “you“) access to and use of the Site, we require every members and customer to act with integrity, to our rules for the Site, and to abide by these Terms and Conditions and each other rule, regulation or other policy of “Balice Services”.  </p>
                </div>
                <div>
                    <h2>GENERAL TERMS</h2>

                    <p>
                        By clicking “I AGREE” and/or using or accessing the Site, you hereby agree,<br>
                    </p>
                    <p>
                        (a) that you have received, read and understood these Terms and Conditions, and that these Terms and Conditions create a valid and binding agreement, enforceable against you in accordance with the terms hereof,
                    </p>
                    <p>
                        (b) to be bound by these Terms and Conditions, any terms, conditions or other rules, regulations or policies of “Balice Services”, as each may be amended or supplemented from time to time in our sole discretion without notice, and
                    </p>
                    <p>
                        (c) that your use of the Site shall comply with all applicable federal, state and local laws, rules or regulations, and that you are solely responsible for your compliance with, familiarity with and understanding of any such laws, rules or regulations applicable to your use of the Site. If you do not agree with any portion of these Terms and Conditions, you are prohibited from using or accessing the Site.
                    </p>
                    <br />
                    <p>
                        <strong>
                            <i>
                                Without limiting the generality of the foregoing or any other provision hereof, you acknowledge and agree, as follows:
                            </i>
                        </strong>
                    </p>
                    <ol>
                        <li>

                            Not to access the Site using any automated means, including, without limitation, harvesting bots, robots, spiders, or scrapers;
                        </li>
                        <li>
                            Not to engage in multi-level marketing using the Site, including, without limitation, pyramid schemes, and similar marketing concepts;
                        </li>
                        <li>
                            Not to upload, use or disseminate viruses or other malicious code or other abusive scripts or processes;
                        </li>
                        <li>
                            Not to solicit login, account or other personal information of another person or request or obtain access to an account of another person;
                        </li>
                        <li>
                            Not to bully, intimidate, or harass any person;
                        </li>
                        <li>
                            Not to use the Site in any manner that is, or could reasonably be construed to be, unlawful, including, without limitation, in violation of any law, rule or regulation related to securities or investments, or any rules or regulations other securities exchange and any regulations or other pronouncements having the force of law;
                        </li>
                        <li>
                            Not to use the Site in any manner that is, or could reasonably be construed to be, in violation of these Terms and Conditions, fraudulent, misleading, malicious or discriminatory;
                        </li>
                        <li>
                            Not to take any action that could disable, overburden, or impair the operation or availability of the Site, such as a denial of service attack;
                        </li>
                        <li>
                            Not to engage in manipulative practices designed to obfuscate the true intent of your submissions to the Site, or to artificially generate traffic to another website;
                        </li>
                        <li>
                            Not to facilitate or encourage any violations of these Terms and Conditions;
                        </li>
                        <li>
                            Not to issue chargeback disputes against us.
                        </li>
                        <li>
                            Not to use patented, copyrighted, trademarked or other protected intellectual property without the written consent and authorization of the owner of such property;
                        </li>
                        <li>
                            Not to copy, distribute or disseminate the Site or any portion thereof, and not to transfer the Site, or any portion thereof, to another person or “mirror” the Site, or any portion thereof, on any other server;
                        </li>
                        <li>
                            Not to decompile or reverse engineer, or attempt to decompile or reverse engineer, the Site or any portion thereof; and
                        </li>
                        <li>
                            Not to take any other action that could result in any damage or disruption to the Site, or that could otherwise result in any liability, damages, costs or expenses on the part of “Balice Services”.
                        </li>
                    </ol>

                </div>
                <div>
                    <h2>VIOLATION; TERMINATION OF ACCOUNT</h2>

                    <p>
                        You acknowledge and agree that “Balice Services” may, in its sole discretion, cancel, suspend or terminate your account if you breach these Terms and Conditions. “Balice Services” may refuse, in its sole discretion, to permit any use of the Site, and may refuse to permit any person to access or use the Site or your account for any reason at any time.<br>
                    </p>

                </div>
                <div>
                    <h2>General security</h2>

                    <ul>
                        <li>
                            ablice.com will do its best to offer you a secure and reliable service
                        </li>
                        <li>
                            In turn, you agree not to compromise the security or tamper with any information, data, resources, accounts or records of any person on the website.
                        </li>
                    </ul>

                </div>
                <div>
                    <h2>Indemnity</h2>

                    <p>
                        By using the site you indemnify ablice.com from liability for loss or damage of whatever nature and howsoever arising from your use of the ablice.com website and or any services, content or obligation in terms of these terms and conditions.
                    </p>
                    <br />
                    <p>
                        We expressly disclaim any and all implied warranties, including, without limitation, warranties of merchantability, accuracy of measurements, title, fitness for a particular purpose, non-infringement, compatibility, security and accuracy.
                    </p>

                </div>
                <div>
                    <h2>Breach</h2>
                    <p>
                        Should the website user break any of the terms and conditions set out in this agreement, ablice.com can in its sole discretion make a decision to terminate this agreement and recover all and any costs related to such termination and or terminate, without notice, your access to the Ablice.com website and or any ablice.com services you might be subscribed to.
                    </p>
                </div>
                <div>
                    <h2>Cancellations & Refund Policy</h2>
                    <p>
                        We do not provide any refunds or Cancellations on any product available on our website which includes Virutal currencies, Physical Items, Merchandise or any softwares.
                    </p>
                </div>
                <div>
                    <h2>PURCHASE TERMS AND CONDITIONS</h2>
                    <p>
                        When you place an order to purchase products and services through the Site, you agree to follow and be bound by these Purchase Terms and Conditions.
                    </p>
                </div>
                <div>
                    <h2>We may refuse or cancel orders.</h2>
                    <p>
                        While we will use our best efforts to fulfill all orders, we cannot guarantee the availability of any particular product displayed on the Site. We reserve the right to discontinue the resale or sale of any product listed on the Site at any time without notice.
                        The receipt of an order number or an email order confirmation does not constitute acceptance of an order or a confirmation of an offer to sell. We reserve the right, without prior notification, to limit the order quantity on any item and/or to refuse service to any customer. We may require verification of information before accepting an order.
                        We reserve the right, at our sole discretion, to refuse or cancel any order for any reason.
                    </p>
                </div>
                <div>
                    <h2>Modification of the Price & Content</h2>
                    <p>
                        We may change information, including prices, of products and services listed on the Site.<br />
                        All descriptions, images, references, features, content, specifications, products, and prices of products and services described or depicted on the Site are subject to change at any time without notice (including after you have submitted your order). We will correct errors that we discover, and we reserve the right to revoke any stated offer and to correct any error, inaccuracy, or omission (including after an order has been submitted). Local store prices and products may vary by location. Product prices offered on the Site may vary from other advertised prices.<br />
                        We cannot confirm the price of an item until you order. Despite our best efforts, a small number of the items listed on the Site may be mispriced. If the correct price of an item is higher than our stated price, we will, at our discretion, either contact you for instructions before shipping or cancel your order and notify you of such cancellation.
                    </p>
                </div>
                <div>
                    <h2>THIRD-PARTY WEBSITES</h2>
                    <p>
                        The Site, and other products and services of “Balice Services”, may contain links to other websites or applications. The fact that we link to a website is not an endorsement, authorization, or representation of our affiliation with that third party. “Balice Services”, has not reviewed all of the sites linked to or from the Site, or other products and services of “Balice Services”, and is not responsible for the content of any such linked website. We do not exercise control over third party websites.<br />
                        Your use of links to other websites is at your own risk. We are not responsible for third party sites linked from the Site, or other products and services of “Balice Services”, nor do we make any representation or warranties, express or implied, with respect to any such website.
                    </p>
                </div>
                <div>
                    <h2>Arbitatration</h2>
                    <p>
                        In the interest of resolving disputes between you and Ablice.com in the most expedient and cost effective manner, you and Ablice.com agree to resolve disputes through binding arbitration or small claims court instead of in courts of general jurisdiction (“Agreement to Arbitrate”). Arbitration is more informal than a lawsuit in court. Arbitration uses a neutral arbitrator instead of a judge or jury, allows for more limited discovery than in court, and is subject to very limited review by courts. Arbitrators can award the same damages and relief that a court can award. Any arbitration under these Terms will take place on an individual basis; class arbitrations and class actions are not permitted. You acknowledge and agree that the arbitrator may award relief (including monetary, injunctive, and declaratory relief) only in favor of the individual party seeking relief and only to the extent necessary to provide relief necessitated by that individual party’s claim(s). Any relief awarded cannot affect other users.
                    </p>
                </div>
                <div>
                    <h2>MODIFICATIONS</h2>
                    <p>
                        “Balice Services” reserves the right to revise these Terms and Conditions at any time without notice. By using the Site, you are agreeing to be bound by the then-current version of these Terms and Conditions, and your continued use of the Site reaffirms your agreement to the then-current Terms and Conditions. You agree to consult the Site regularly for up-to-date information about these Terms and Conditions and the Privacy Policy.
                    </p>
                </div>
                <div>
                    <h2>ENTIRE AGREEMENT</h2>
                    <p>
                        You agree that these Terms and Conditions constitute the entire, complete and exclusive agreement between you and us regarding the Site and the products and services of “Balice Services”, and supersedes all prior agreements and understandings, whether written or oral, or whether established by custom, practice, policy or precedent, with respect to the subject matter of these Terms and Conditions. The provisions of these Terms and Conditions shall survive any termination thereof indefinitely.
                    </p>
                </div>
                <div>
                    <h2>WAIVERS</h2>
                    <p>
                        Our failure to act with respect to a breach of these Terms and Conditions by you or others does not waive our right to act with respect to that breach or subsequent similar or other breaches.
                    </p>
                </div>
                <div>
                    <h2>COPYRIGHT</h2>
                    <p>
                        Copyright © 2020 “Balice Services”. All rights reserved. All materials presented on this site are copyrighted and owned by “Balice Services” or other individuals or entities as designated. Any republication, retransmission, reproduction, downloading, storing or distribution of all or part of any materials found on this site is expressly prohibited.
                    </p>
                    <p>For more information, Visit our contact us page or mail us at <br />support@ablice.com</p>
                    <p>
                        Phone: +1 (949) 540-4082<br />
                        KEVAN PARANG<br />
                        145 SPECKLED ALDER,<br />
                        IRVINE CA, 92618<br />
                        UNITED STATES OF AMERICA<br />
                    </p>
                </div>

            </section>
        </div>
    </div>
</main>