
@{
    ViewData["Title"] = "FullFilment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sytem Configuration</h1>
This page is only for the website owner.
<br />
when execute this page this will generate everything to run the web site.........

<p>@ViewBag.Message</p>